.mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://www.webex.com/content/dam/wbx/us/images/virtual-backgrounds/Virtual_Background-Dark.jpg?sw77s92ar6");
    background-repeat:no-repeat ;
    background-size: cover;
    
  }
  
  #main {
    width: 400px;
    background-color: rgb(137, 135, 135);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
  }
  
  .sign {
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin: 0px auto;
    margin-bottom: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  
  
  .input_filed {
    margin: 7px;
    padding: 11px 150px 11px 4px;
    border-radius: 6px;
    border: none;
  }
  
  .btn-primary {
    margin-left: 5px;
    margin-top: 20px;
    padding: 11px 135px;
    border-radius: 5px;
    background-color: rgb(206, 40, 40);
    color: white;
    border: none;
    font-size: 15px;
  }
  
  .account {
    text-align: center;
    margin-top: 15px;
  }
  
  .account a{
    text-decoration: none;
    color:white;
    text-decoration: underline;
  }
  
  .input_filed:hover {
    border: 2px solid white;
  }
  
  .Under-line {
    margin-top: 10px;
    /* width: 190px; */
    /* margin: auto; */
  }
  